@{
  Layout = "_Layout";
}

<h1>Welcome to the Animal Shelter!</h1>

<p>@Html.ActionLink("See all the animals", "Index", "Animals")</p>
<p>@Html.ActionLink("Search Animal by name", "SearchRequest", "Animals")</p>