@{
  Layout = "_Layout";
}

<h2>Search Page</h2>

<form action="/Animals/Search" method="post">
  <label>Enter a Search</label>
  <input class="input" type="text" id="name" name="name">
  <input type="submit" value="Search" class="btn btn-info buttons" />
</form>
